/*
filename: navstyle.css
author: Daniel Frankish
created:
last modified:
description: this references the navbar on each page
*/

nav a { /* styling for each element of the navigation bar list, sets proper colouring and hyperlink styling - Daniel Frankish */
	text-decoration: none;
	background-color: #ffffff;
}

#navbar { /* Overall configuration for the navbar entity, sets color and sizing - Daniel Frankish */
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border: 0;
}

/*
#navlist { / styling for the list that is used to create the navbar, sets proper alignment and sizing - Daniel Frankish /
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: center;
}
*/

.buttonHeader{ /* Formating for the buttons used in the header - Dominic White*/
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    width: 10%;
    vertical-align: middle;
}

.buttonGeneral:hover{ /* What changes occur to the general use buttons when they are hovered over, - Dominic White*/
    background-color: #9F9F9F;
}

#navbar-image { /*  configures the image for the navbar - Daniel Frankish */
	width: 100px;
	display: block;
}


a { /* Needs replacing do not use - Daniel Frankish */
    transition-duration: 500ms;
	display: block;
	padding: 8px;
	background-color: #b0b0b0;
}



a:hover { /* Needs replacing do not use - Daniel Frankish */
	background-color: #9F9F9F;
}




