/* 
Formating for general button
Used for general button usage
Author: Dominic White
*/
.buttonGeneral{ /* Formating for general use buttons, - Dominic White*/
    background-color: #8C8C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    height: 50px;
}

.buttonGeneral:hover{ /* What changes occur to the general use buttons when they are hovered over, - Dominic White*/
    background-color: #9F9F9F;
}

/* 
Formating for Header button
Used for use in the header
Author: Dominic White
*/
.buttonHeader{ /* Formating for the buttons used in the header - Dominic White*/
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 500ms;
    width: 150px;
    height: 50px;
}

.buttonHeader:hover{ /* What changes occur to the header buttons when they are hovered over - Dominic White*/
    color: #0C8DC2;
    background-color: #F2F2F2;
}

/* 
Formating for the header's dropdown
Used for use for dropdown menus in the headers
Author: Dominic White
*/
.dropdown { /*Spesifcations for the dropdown - Dominic white*/
  position: relative;
  display: inline-block;
}

.dropdownContent { /* formating of the content boxes of the dropdown - Dominic White*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a{  /* formating for the contents of the dropdown boxes - Dominic White*/
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1} /*The colour when hovering over a button in the dropdown - Dominic White*/

.dropdown:hover .dropdownContent {/* Displays dropdown when the button is hovered over - Dominic White*/
  display: block;
}



/*
Background
Creates a background image on the page
Author: Jack Spong
*/
.background { /* makes your webpage have a background! - Jack Spong*/ 
  background-image: url("background_image.jpg");
  background-size: cover; 
  display: block; 
  min-width: 1000px;
  margin: 0; 
}

/*
Imports font from google fonts
Sets paragraph styling
Note: doesn't set any text positioning as that may vary depending on where it is being used
Author: Charlie O'neill
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: -1x;
  line-height: 19px;
}

* { /* Overall styling for the whole document, sets font and general settings to ensure proper function, such as the removal or outlines and margins - Daniel Frankish */
	font-family: calibri, sans-serif;
	color: black;
	border-collapse: collapse;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
}

/*
This series of elements works to build the overal navbar which is used on each page of the website as a header.
It includes images, links and other aesthetic components.
It also includes the footer element which remains at the bottom of the user's webpage.
Author: Daniel Frankish
*/

nav a { /* styling for each element of the navigation bar list, sets proper colouring and hyperlink styling - Daniel Frankish */
	text-decoration: none;
	background-color: #ffffff;
}

#navbar { /* Overall configuration for the navbar entity, sets color and sizing - Daniel Frankish */
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border: 0;
}

#navlist { /* styling for the list that is used to create the navbar, sets proper alignment and sizing - Daniel Frankish */
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: center;
}

#navbar-image { /*  configures the image for the navbar - Daniel Frankish */
	width: 100px;
	display: block;
}

/* a {  Needs replacing do not use - Daniel Frankish 
	display: block;
	padding: 8px;
	background-color: #b0b0b0;
} */

a:hover { /* Needs replacing do not use - Daniel Frankish */
	background-color: #111;
}

/*
These elements define the fundemental heirarchy of the main content of the page.
Descending from the body to the main articles of the webpage.
Author: Daniel Frankish
*/

body { /* sets the proportions for the overall body of the webpage - Daniel Frankish */
	height: 100%;
	width: 100%;
}

.main { /* styles the main body of the document and sets its proportions - Daniel Frankish */
	width: 50%;
	padding: 10px;
  padding-top: 100px;
	background-color: #c0c0c0;
	margin: auto;
	height: 100vh;
}

article { /* Colours the main article's background - Daniel Frankish */
	background-color: #D9D9D9;
}

footer { /* Creates a footer component for the website that covers the width of the screen and follows along with page scrolling. - Daniel Frankish */
	background-color: #3ABFAA;
	position: fixed;
	padding: 10px 0px 0px 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
}


/*
Header
These elements are used for creating and manipulatying the header
Author: Dominic White
*/
header { /* Creates a white header at the top of the page. - Dominic White*/
	background-color: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
}

/*
Center
This aligns eleents to the center
Author: Dominic White
*/
.centerText{ /* Centers text - Dominic White*/
  text-align: center;
}

.centerElements { /* Centers elements in the header - Dominic White*/
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.centerBox{
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 5px;
  background-color: white;
  outline: black;
  outline-style: solid;
  outline-width: 2px;
} 

/*
Colour background
Gives the elements a background color and a box
Author: Dominic White
*/
.headingGray{
  margin-left: 25%;
  margin-right: 25%;
  padding: 2px;
  padding-bottom: 10px;
  background-color: #A2A1A1;
}

/*
Limitations
Anything to do with limiting or changing how an element works 
Author: Dominic White
*/
textarea { /*Setups limitations for the text area - Dominic White*/
  resize:none;
  width: 100%;
  height: 200px;
}

.wrap200 { /*Gets a div thats 100% the size of the page - Dominic White */
  width: 100%;
  height: 200px;
}

.wrap50 { /*Gets a div thats 100% the width of the page - Dominic White */
  width: 100%;
  height: 50px;
}
  
.floatLeft { /*Splits the div in two, putting elements on the left side - Dominic White*/
  float:left; 
  width: 50%;
}
  
.floatRight { /*Splits the div in two, putting elements on the right side - Dominic White*/
  float: right;
  width: 50%;
}

.padding10{ /* 10% padding on lefr and right - Dominic White*/
  padding-left: 10%;
  padding-right: 10%;
}

.floatRight{ /*Floats elements right*/
  float: right;
}
