/* 
Formating for general button
Used for general button usage
*/
.buttonGeneral{ /* Formating for general use buttons */
    background-color: #8C8C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonGeneral:hover{ /* What changes occur to the general use buttons when they are hovered over */
    background-color: #9F9F9F;
}

/* 
Formating for Header button
Used for use in the header
*/
.buttonHeader{ /* Formating for the buttons used in the header */
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 500ms;
    width: 150px;
    height: 50px;
}

.buttonHeader:hover{ /* What changes occur to the header buttons when they are hovered over */
    color: #0C8DC2;
    background-color: #F2F2F2;
}

/* 
Formating for the header's dropdown
Used for use for dropdown menus in the headers
*/
.dropdownButton { /* Formating for button that holds the dropdown element */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition-duration: 500ms;
}

.dropdownContent { /* formating of the content boxes of the dropdown */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a{  /* formating for the contents of the dropdown boxes*/
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1} /*The colour when hovering over a button in the dropdown*/

.dropdown:hover .dropdownContent {/* Displays dropdown when the button is hovered over*/
  display: block;
}

.dropdown:hover .dropdownButton { /* Colour changed to when the button is hovered over*/
  color: #0C8DC2;
  background-color: #F2F2F2;
}

/*
Background
Creates a background image on the page
*/
.background { /* makes your webpage have a background!*/ 
  background-image: url("background_image.jpg");
  background-size: cover; 
  display: block; 
  min-width: 1000px;
  margin: 0; 
}

/*
Imports font from google fonts
Sets paragraph styling
Note: doesn't set any text positioning as that may vary depending on where it is being used
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: -1x;
  line-height: 19px;
}
