/* 
Formating for general button
Used for general button usage
Author: Dominic White
*/
.buttonGeneral{ /* Formating for general use buttons, Author: Dominic White*/
    background-color: #8C8C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonGeneral:hover{ /* What changes occur to the general use buttons when they are hovered over, Author: Dominic White*/
    background-color: #9F9F9F;
}

/* 
Formating for Header button
Used for use in the header
Author: Dominic White
*/
.buttonHeader{ /* Formating for the buttons used in the header, Author: Dominic White*/
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 500ms;
    width: 150px;
    height: 50px;
}

.buttonHeader:hover{ /* What changes occur to the header buttons when they are hovered over, Author: Dominic White*/
    color: #0C8DC2;
    background-color: #F2F2F2;
}

/* 
Formating for the header's dropdown
Used for use for dropdown menus in the headers
Author: Dominic White
*/
.dropdownButton { /* Formating for button that holds the dropdown element, Author: Dominic White*/
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition-duration: 500ms;
}

.dropdownContent { /* formating of the content boxes of the dropdown, Author: Dominic White*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a{  /* formating for the contents of the dropdown boxes, Author: Dominic White*/
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1} /*The colour when hovering over a button in the dropdown, Author: Dominic White*/

.dropdown:hover .dropdownContent {/* Displays dropdown when the button is hovered over, Author: Dominic White*/
  display: block;
}

.dropdown:hover .dropdownButton { /* Colour changed to when the button is hovered over, Author: Dominic White*/
  color: #0C8DC2;
  background-color: #F2F2F2;
}

/*
Background
Creates a background image on the page
Author: Jack Spong
*/
.background { /* makes your webpage have a background! Author: Jack Spong*/ 
  background-image: url("background_image.jpg");
  background-size: cover; 
  display: block; 
  min-width: 1000px;
  margin: 0; 
}

/*
Imports font from google fonts
Sets paragraph styling
Note: doesn't set any text positioning as that may vary depending on where it is being used
Author: Charlie O'neill
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: -1x;
  line-height: 19px;
}

* { /* Overall styling for the whole document, sets font and general settings to ensure proper function, such as the removal or outlines and margins - Daniel Frankish */
	font-family: calibri, sans-serif;
	color: black;
	border-collapse: collapse;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
}

nav a { /* styling for each element of the navigation bar list, sets proper colouring and hyperlink styling - Daniel Frankish */
	text-decoration: none;
	background-color: #ffffff;
}

#navbar { /* Overall configuration for the navbar entity, sets color and sizing - Daniel Frankish */
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border: 0;
}

#navlist { /* styling for the list that is used to create the navbar, sets proper alignment and sizing - Daniel Frankish */
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: center;
}

body { /* sets the proportions for the overall body of the webpage - Daniel Frankish */
	height: 100%;
	width: 100%;
}

#main { /* styles the main body of the document and sets its proportions - Daniel Frankish */
	width: 50%;
	padding: 10px;
	background-color: #c0c0c0;
	margin: auto;
	height: 100vh;
}

#navbar-image { /*  configures the image for the navbar - Daniel Frankish */
	width: 100px;
	display: block;
}

a { /* Needs replacing do not use - Daniel Frankish */
	display: block;
	padding: 8px;
	background-color: #b0b0b0;
}

a:hover { /* Needs replacing do not use - Daniel Frankish */
	background-color: #111;
}


article { /* Colours the main article's background - Daniel Frankish */
	background-color: #D9D9D9;
}


footer { /* Creates a footer component for the website that covers the width of the screen and follows along with page scrolling. - Daniel Frankish */
	background-color: #3ABFAA;
	position: fixed;
	padding: 10px 0px 0px 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
}


